<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.prabhu.rcp.dnd.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.prabhu.rcp.dnd.Perspective"
            name="Perspective"
            id="org.prabhu.rcp.dnd.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.prabhu.rcp.dnd.PermanentEmpView"
            id="org.prabhu.rcp.dnd.pview"
            name="Permanent Employee"
            restorable="true">
      </view>
      <view
            class="org.prabhu.rcp.dnd.ContractEmpView"
            id="org.prabhu.rcp.dnd.cview"
            name="Contract Employee"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               id="org.prabhu.rcp.dnd.pview"
               minimized="false"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="true">
         </view>
         <view
               id="org.prabhu.rcp.dnd.cview"
               minimized="false"
               relationship="right"
               relative="org.eclipse.ui.editorss"
               showTitle="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File">
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="RCP Application"
            application="org.prabhu.rcp.dnd.application">
         <property
               name="windowImages"
               value="icons/eclipse16.png,icons/eclipse32.png,icons/eclipse48.png,icons/eclipse64.png, icons/eclipse128.png,icons/eclipse256.png,icons/eclipse512.png">
         </property>
      </product>
   </extension>

</plugin>
